<h1><%= Todo.model_name.human %>一覧</h1>

<%= render 'parts/todo/search_todos_form', search_form: @search_form %>
<%= render_new_link new_todo_path %>
<%= render 'parts/todo/todo', todos: @todos if @todos.present? %>

<div class="bottom-btn-field">
  <%= link_to 'トップへ', pages_index_path, class: 'btn btn-lg btn-light' %>
</div>
